@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #21251f;
  --accent-color: #c8f560;
  --primary: #4e515c;
  --secondary: #7862f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-color);
  z-index: 999;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

header .navbar .title {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 800;
  margin: 15px 50px;
}

header .navbar .search-box {
  position: relative;
}

header .navbar .search-box input {
  width: 360px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 40px;
  border-radius: 12px;
}

header .navbar .search-box input::placeholder {
  color: var(--primary);
  font-size: 1.2rem;
}

header .navbar .search-box button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px;
}

header .navbar .search-box button i {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
}

header .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar ul li {
  padding: 0 20px;
  list-style-type: none;
}

header .navbar ul li a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

header .navbar .user-account-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 30px;
}

header .navbar .user-account-field button {
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 700;
}

header .navbar .user-account-field .login {
  color: #fff;
  background: var(--secondary);
}

header .navbar .user-account-field .sign-up {
  color: var(--secondary);
  background: #fff;
}

.separator {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  margin: 20px 40px;
}

.separator h2 {
  background: var(--primary);
  color: var(--accent-color);
  border-radius: 20px;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

.main {
  width: 100%;
}
.main .container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
}

.main .container-grid .card {
  width: 250px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--background);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
}

.main .container-grid .card .img-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .container-grid .card .img-wrapper img {
  width: 220px;
  max-height: 280px;
}

.main .container-grid .card .text-wrapper {
  width: 100%;
  /* background-color: #4682b4; */
  /* height: 200vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.main .container-grid .card .text-wrapper .title {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-align: left;
  /* line-height: 1.5; */
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 0.9em);
}

.main .container-grid .card .text-wrapper .jav-title {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-align: left;
  /* line-height: 1.5; */
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 0.9em);
}

.main .container-grid .card .text-wrapper .episode {
  color: var(--accent-color);
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

.main .container-grid .card .text-wrapper .episode i {
  font-size: 22px;
  font-weight: 600;
  margin-right: 12px;
}

.main .container-grid .card .text-wrapper .genre {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  /* line-height: 1.5; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 0.8em);
}

.main .container-grid .card .text-wrapper .genre i {
  font-size: 22px;
  font-weight: 600;
  margin-right: 12px;
}

.main .container-grid .card .text-wrapper .studio {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  /* line-height: 1.5; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(2 * 0.8em);
}

.main .container-grid .card .text-wrapper .studio i {
  font-size: 22px;
  font-weight: 600;
  margin-right: 12px;
}

.main .container-grid .card .text-wrapper .rating {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 10%;
  background: rgba(0, 0, 0, 0.8);
  padding: 2px;
}
.main .container-grid .card .text-wrapper .rating i {
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary);
}

.main .container-grid .card .text-wrapper .year {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--accent-color);
}

.main .container-grid .card .text-wrapper .year i {
  font-size: 22px;
  font-weight: 600;
  margin-right: 12px;
}

/* PAGINATION */
.pagination {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pagination-wrapper {
  margin: 10px 50px;
  position: absolute;
  right: 0;
}

.pagination .pagination-wrapper #pagination {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary);
}

.pagination .pagination-wrapper #prev,
.pagination .pagination-wrapper #next {
  margin-top: 10px;
  width: 70px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--primary);
  background: rgba(0, 0, 0, 0.1);
}

.pagination .pagination-wrapper #prev i,
.pagination .pagination-wrapper #next i {
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary);
}
